# **Übungsaufgaben DDL**

Dieser Übungsblock enthält Aufgaben zum Thema "Datenbankschema (DDL)". Löse die Aufgaben am besten in der gestellten Reihenfolge.

## Grundlagen

Mache dir über folgende Aussagen Gedanken und bespreche sie anschliessend mit den anderen Kursteilnehmern.

**Aussage 1**: Ein geeigneter Datentyp für die Hausnummer ist int.

**Aussage 2:** Ein geeigneter Typ für die Postleitzahl ist int.

**Aussage 3:** Für kaufmännische Daten ist money ein wichtiger Datentyp.

**Aussage 4:** Money ist ein Standard-Datentyp und existiert auch auf anderen DBMS.

**Aussage 5:** VARCHAR ist platzsparender als CHAR

## CREATE

Diese Aufgaben kannst du nach Behandlung des CREATE-Blocks lösen.

**1.1** Erstelle eine neue Datenbank mit dem Namen _Adressdatenbank_.

In [28]:


use master
Drop Database if exists Adressdatenbank
Create Database Adressdatenbank
go

: Query failed: The operation was canceled.

**1.2** Erstelle eine neue Tabelle _Person_ mit den folgenden Feldern: _id, anrede, vorname, nachname, strasse, hausnummer, plz, ort, land_. Wähle dabei geeignete Datentypen aus.

In [42]:
use Adressdatenbank
go

Create Table Person (
    id INT,
    anrede VARCHAR(50),
    vorname VARCHAR(50),
    nachname VARCHAR(50),
    hausnummer VARCHAR(10),
    plz VARCHAR(20),
    ort VARCHAR(50),
    land VARCHAR(50)
)

**1.3** Erstelle eine neue Tabelle _Telefon_ mit den folgenden Feldern: id, personId, typ, nummer. Wähle auch hier geeignete Datentypen aus.

In [30]:
Create Table Telefon(
    id int IDENTITY(1,1) PRIMARY KEY,
    personid int,
    typ VARCHAR(50),
    nummer VARCHAR(30)

    foreign key (personid) references Person(id)
)

**1.4** Erstelle eine neue Tabelle _Notizen_ mit den folgenden Feldern: _id, personId, notiz_. Wähle hier geeignete Datentypen aus.

In [31]:
Create TABLE Notizen(
    id int IDENTITY(1,1) PRIMARY KEY,
    personid int,
    notiz VARCHAR(100)

    Foreign Key (personid) references Person(id)
)

## ALTER

Führe diese Aufgaben nach Behandlung des ALTER-Blocks aus.

**2.1** Verändere die Tabelle _Person_, füge eine neue Spalte für einen zweiten Vornamen ein. Wähle dazu einen passenden Datentyp und einen entsprechenden Spaltennamen.

In [32]:
Alter Table Person add Vorname2 VARCHAR(50)

**2.2** Verändere die Tabelle _Person_, füge eine neue Spalte für ein _Geburtsdatum_ ein. Wähle hierzu einen passenden Datentyp.

In [33]:
Alter Table Person add Geburtsdatum DATE

**2.3** Verändere die Tabelle _Telefon_, verändere den Typ der Spalte _Typ_. Neu soll dieses Feld nicht mehr frei änderbar sein, sondern du sollst zwischen _P_, _N_ oder _G_ aussuchen müssen.

In [34]:
Alter Table Telefon add check(typ = 'P' or typ = 'N' or typ = 'G')

**2.4** Erstelle eine Spalte _Notiz_ auf der Person. Wähle den passenden Datentyp.

In [35]:
Alter Table Person add Notiz VARCHAR(100)

**2.5** Lösche die Spalte _notiz_ aus der Tabelle _Notizen_.

In [36]:
Alter Table Notizen drop column Notiz

## DROP

Führe diese Aufgaben nach Behandlung des DROP-Blocks aus.

**3.1** Lösche die Tabelle _Notizen_.

In [37]:
Drop table notizen

## RENAME

Führe diese Aufgaben nach der Behandlung des RENAME-Blocks aus.

**4.1** Benenne die Tabelle _Telefon_ in _Phone_ um.

In [41]:

exec sp_rename Telefon, Phone

## Schlüsselfelder

Führe diese Aufgaben nach Behandlung der Schlüsselfelder aus.

**Hinweis**: Diese Aufgaben beziehen sich auf die Mustertabelle des Kapitels "CREATE" und den nachfolgenden Änderungen.

**5.1** Erstelle einen Primärschlüssel für das Feld "id" in der Tabelle "Person". Der Wert soll automatisch inkrementieren.

In [44]:
Alter Table Person add Primary Key(id)

: Msg 156, Level 15, State 1, Line 2
Falsche Syntax in der Nähe des IDENTITY-Schlüsselworts.

**5.2** Erstelle einen Primärschlüssel für das Feld "id" in der Tabelle "Phone". Der Wert soll nicht inkementieren.

In [ ]:
Alter Table Phone add Primary Key(id)

**5.3** Erstelle einen Fremdschlüssel für das Feld "personId" in der Tabelle "Phone". Der Wert soll auf die Tabelle "Person" und das Feld "id" referenzieren.

In [26]:
Alter Table Phone add foreign Key (Personid) REFERENCES Person(id)